.cart-info {
  display: flex;
  align-content: flex-start;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
.button {
  color: #ebb608;
  font-size: 12px;
}
.price {
  color: #ebb608;
  font-weight: 600;
}
.qwe {
  display: flex;
  flex-direction: row;
}

.qwe button {
  font-size: 10px;
}

td p {
  margin-bottom: 0;
}
td img {
  width: 90px;
  height: 150px;
  justify-self: start;
  align-content: flex-start;
  overflow: hidden;
  object-position: left;
  object-fit: contain;
}

@media (max-width: 750px) {
  .cart-info p {
    display: none;
  }
  .qwe {
    display: block;
  }
  td p {
    font-size: x-small;
  }
  td small {
    font-size: 12px;
  }
}
