.small-img-col {
  flex-basis: 2%;
  margin-top: 5px;
  cursor: pointer;
}
.small-img-col img {
  height: 200px;
  width: auto;
  object-fit: cover;
  margin-left: 0;
  margin: 0;
}
@media (max-width: 750px) {
  .small-img-col img {
    height: 150px;
  }
}
