.row3 {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  margin-top: 80px;
  padding-left: 30px;

  padding-right: 30px;
}
.row3 h2 {
  font-size: large;
}

.page-btn {
  width: 100%;
  display: flex;
  margin: 10px;
  text-align: center;
  flex-grow: 1;
  align-items: center;
  align-content: center;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.page-btn p {
  margin-bottom: 0;
  font-size: x-small;
}

@media (max-width: 750px) {
  .row3 h2 {
    font-size: small;
  }
  .row3 p {
    font-size: smaller;
  }
  .page-btn button {
    font-size: xx-small;
  }
}
.backsvg2 {
  width: 20px;
  cursor: pointer;
  height: 20px;
}
