#categories2 {
  padding-top: 0px;
  padding-bottom: 50px;
}
.backsvg {
  height: 35px;
  width: 35px;
}
.row9 {
  margin-top: 100px;
  margin-left: 16px;
  margin-right: 16px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.row9 .title {
  margin-left: 0px;
  margin-top: 0 !important;
}

.MuiButton-text {
  padding: 0 !important;
}
